@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.InputFormula{
  textarea{
    resize: none;
    min-height: 300px;
    //min-width: 400px;
    //min-height: 100%;
    min-width: 100%;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #A9A9A9;
  a {
    color: #808080;
    &:hover {
      color: #A9A9A9;
    }
  }
}